.back-btn {
  position: absolute;
  top: 15vh;
  left: 10vh;
  color: #ffe9d0;
  font-size: medium;
  width: 40px;
  opacity: 0.5;
}

.back-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 45px;
}

/* Mobile breakpoint */
@media (max-width: 768px) {
  .back-btn {
    top: 13vh;
    left: 4vh;
    width: 30px;
  }

  .back-btn:hover {
    width: 32px;
  }
}

/* Small mobile breakpoint */
@media (max-width: 480px) {
  .back-btn {
    top: 13vh;
    left: 4vh;
    width: 30px;
  }

  .back-btn:hover {
    width: 32px;
  }
}
