.home__card {
  margin-top: 4vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

.home__card-img {
  width: 40vw;
  height: 80vh;
}

.home__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-left: 10vw;
}

.home__card-content_reverse {
  margin-right: 10vw;
  text-align: right;
}

.home__card-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0;
  margin-bottom: 4vh;
  text-align: center;
  color: #ffe9d0;
}

.home__card-text {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  margin: 0;
  margin-bottom: 4vh;
  text-align: center;
  color: #ffe9d0;
}

.home__card-btn {
  width: 150px;
  height: 60px;
  padding: 1vh 2vh;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  background: none;
  border: 4px solid #ffe9d0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffe9d0;
}

.home__card-btn:hover {
  background-color: #ffe9d0;
  color: #819981;
  transition: all 0.5s ease;
}

.home__card-btn_order:hover {
  background-color: #ffe9d0;
  color: #eba158;
  transition: all 0.5s ease;
}
