.item-scrn {
  width: 100%;
  height: 100%;
}

.item-scrn__container {
  width: 100%;
  height: 70vh;
  background-color: #819981;
  display: flex;
  align-items: center;
}

.item-scrn__img {
  width: 30%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  margin: 0 15vw 0 10vh;
  box-shadow: 0 5px 12px rgba(8, 65, 27, 0.461);
}

.item-scrn__title {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #ffe9d0;
  margin-bottom: 0;
  text-shadow: 0 5px 12px rgba(8, 65, 27, 0.461);
  cursor: default;
}

.item-scrn__price {
  font-family: "Pacifico", sans-serif;
  font-size: 2.5rem;
  color: #ffe9d0;
  margin-top: 0;
  text-shadow: 0 5px 12px rgba(8, 65, 27, 0.461);
  cursor: default;
}

.item-scrn__btn {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #ffe9d0;
  box-shadow: 0 5px 12px rgba(8, 65, 27, 0.461);
  cursor: pointer;
}

.item-scrn__btn:hover {
  background-color: #eba158;
  width: 105px;
  height: 60px;
  color: white;
  transition: all 0.3s ease;
}

.item-scrn__btn-img {
  width: 40px;
  height: 40px;
  margin-right: 1vh;
}

.item-scrn__cart-container {
  width: 100%;
  height: 16vh;
  background-color: #ffe9d0;
}
