.cookies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe9d0;
}

.cookies__title {
  margin-top: 10vh;
  margin-bottom: 4vh;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #eba158;
}

.cookies__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0vw;
  margin: 5vh 0;
}
