/* project colors */
.header__config {
  color: #819981;
  color: #eba158;
  color: #ffe9d0;
}

/* styles */
.header {
  display: flex;
  background-color: white;
  align-items: center;
  width: calc(97.5vw + 3px);
  height: 10vh;
  padding: 2vh 0 2vh 4vh;
  box-shadow: 0 5px 12px rgba(121, 61, 16, 0.461);
  overflow: visible;
  z-index: 1;
  position: relative;
}

.header__logo {
  height: 10vh;
  width: 10vh;
  margin-right: 4vh;
  cursor: pointer;
}

.header__nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 2vh;
  gap: 4vh;
  color: #819981;
  font-size: 25px;
  font-family: "Pacifico", serif;
}

.header__nav-item a {
  text-decoration: none;
  color: #819981;
}

.header__nav-item:hover a {
  color: #4a5a4a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__loc {
  margin-left: 35vw;
}

.header__loc:hover a {
  color: #819981;
}

.header__loc a {
  text-decoration: underline;
  font-family: "Pacifico", serif;
  font-size: 20px;
  color: black;
}

.header__loc-icon {
  width: 20px;
  height: 20px;
  margin-right: 1vh;
}

.header__account-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2vh;
  margin-right: 4vh;
}
.header__btn {
  width: 80px;
  height: 40px;
  background: none;
  border: 2px solid #819981;
  color: #819981;
  border-radius: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.header__btn_alt {
  background-color: #eba158;
  color: white;
  border-color: #eba158;
}

.header__btn:hover {
  background-color: #4a5a4a;
  border-color: #4a5a4a;
  color: white;
  transition: all 0.3s ease;
}

.header__order {
  width: 100vw;
  height: 10vh;
  background-color: #eba158;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__order-title {
  margin: 0;
  font-family: "Pacifico", cursive;
  color: #ffe9d0;
}

.header__order-btn {
  margin-left: 2vh;
  padding: 1vh 2vh;
  font-size: 16px;
  font-family: "Pacifico", cursive;
  background: none;
  border: 4px solid #ffe9d0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffe9d0;
}

.header__order-btn:hover {
  background-color: #ffe9d0;
  color: #eba158;
  transition: all 0.5s ease;
}
